<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to textutils</title>
</head>
<body>
    <h1>welcome to the Text Analayzer. Please Enter the text below: </h1><br>
    <form action='/analyze' method='get'>
        <textarea name="text" style="width: 1514px; height: 136px;"></textarea>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="capitalize">Capitalize Text<br>
        <input type="checkbox" name="newlineremove">NewLine Remover<br>
        <button type="submit">Analayze Text</button>
    </form>

</body>
</html>